
<h1>Welcome to my books page</h1>
<% @books.each do |books| %>
<div class="viewbooks">
  <h3>
    <a href="/<%= books.id %>"><%= books.title %></a>
    <p><%= books.author %></p>
  </h3>
</div>
<% end %>
